@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply w-[130px] bg-gradient-to-r from-[#10923A] to-[#075720] transition duration-[0.5s] text-[#fff] my-[20px] py-[15px] rounded-[5px] text-[body-font] custom-screen-ml:w-full;
    }
    .button2 {
        @apply w-full text-left pl-[13px] bg-gradient-to-r from-[#104621] to-[#104621] transition duration-[0.5s] text-[#fff] py-[15px] border-b-[1px] border-b-[#000] text-[body-font];
    }
    .input{
        @apply  w-full bg-[transparent] border-none outline-none text-[var(--secondary-color)] 
    }
    .setting-bg{
        @apply flex justify-center items-center bg-[#cdcdd1] w-[40px] h-[40px] cursor-pointer rounded-[7px] transition duration-[0.5s] hover:bg-[rgba(193,193,195,0.4)]
    }
    .border{
        @apply border-[0.3px] border-[#BEBEBE] h-[40px]
    }
    .list{
        @apply cursor-pointer text-[13px] font-[body-font] transition duration-500 ease-out relative
    }
    .totals{
        @apply cursor-pointer w-[250px] mt-[20px] px-[20px] py-[20px] rounded-[5px] h-[140px] bg-[#00A65A] relative transition duration-[0.5s] ease-out hover:transform hover:-translate-y-2 hover:bg-[#008d4c]
    }
    .th{
        @apply px-4 py-2 text-left text-[#000] font-semibold font-[body-font] text-sm border-[1px] border-gray-300
    }
    .td{
        @apply px-4 py-2 text-sm text-gray-700 border-[1px] border-gray-300
    }
    .bio-input{
        @apply bg-[#F9F9F9] w-[100%] rounded-[5px] p-[15px] my-[5px] outline-none text-[#959595]
    }
    .field{
        @apply flex items-center gap-[40px] justify-center w-[calc(100%-20px)]
    }

    .fieldset{
        @apply border w-[calc(100%-5px)] h-full border-[#ccc] px-[10px] py-[20px] my-[10px]
    }
    .select{
        @apply h-[50px] rounded-[5px] px-[10px] cursor-pointer w-[200px] bg-[#fff] border border-[#959595]
    }

    .operator{
        @apply px-[8px] border h-[28px] bg-[#fff] border-[#bebebe] hover:bg-[rgba(0,0,0,0.1)]
    }

    :root{
        --primary-color: #3490dc;
        --main-color:#fff;
        --secondary-color: #000000;
        --school-color:#10923A;
        --text-color:#414A49;
        --gray-color:#343a40;
        --schools-color:#D8EE7F;
    }
}