
/* #myElement{
    position: absolute;
    background: url(../../all-images/images/bg-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* border: 1px solid red; */
    /* width: 100%;
    height: 1285px;
    color: #fff;
}  */